<!------- messages ------->
{% load static %}

<div id="message_container" data-thread-id="{{ thread.id }}" data-other-user-id="{{ other_user.id }}">
    {% for chat in thread.messages.all %}
        {% if chat.user == user %}
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <p>{{ chat.message }}</p>
                    <span class="time_date">{{ chat.timestamp|date:"d M" }}, {{ chat.timestamp|time:"H:i" }}
                        <span class="msg_status">
                            {% if chat.is_read %}
                                <i class="fa fa-check-circle"></i>
                            {% else %}
                                <i class="fa fa-check"></i>
                            {% endif %}
                        </span>
                    </span>
                </div>
            </div>
        {% else %}
            <div class="incoming_msg">
                <div class="incoming_msg_img">
                    {% if other_user.profile.profile_pic %}
                        <img src="{{ other_user.profile.profile_pic.url }}" alt="{{ other_user.username }}" class="profile_img">
                    {% else %}
                        <img src="{% static 'images/blank-profile-picture.png' %}" alt="{{ other_user.username }}" class="profile_img">
                    {% endif %}
                </div>
                <div class="received_msg">
                    <div class="received_withd_msg">
                        <p>{{ chat.message }}</p>
                        <span class="time_date">{{ chat.timestamp|date:"d M" }}, {{ chat.timestamp|time:"H:i" }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<script>
    // This template is now just used for rendering messages via AJAX
    // All WebSocket and interaction logic is in message.html
</script>